<nav>
    <div class="navTitle">
            <a href="/"><h1>Les sports de glisse</h1></a>
    </div>
        
    <ul class="nav">
        {{#if user}}
        <li>
            <a href="/article/add">Ajouter un article</a>
        </li>

        <li>
            <a href="/user/disconnect">Se deconnecter</a>
        </li>
        
        <li class="nameUser">
            <h1>{{this.name}}</h1>
        </li>

        <li class="imageUser">
            <img src="{{this.image}}" alt="">
        </li>
    
        {{else}}
        <li>
            <a href="/user/connect">Se connecter</a>
        </li>

        <li>
            <a href="/user/create">S'inscrire</a>
        </li>
        {{/if}}
    </ul>
</nav>