<div class="addCategorieContent">
    <form action="/categorie/post" method="POST">
        <div class="addCategorie">

            <h1>Ajouter une categorie</h1>

            <div class="customCategorie">

                <label for="" class="labelNameCategorie">Votre Titre :</label>
                <input type="text" class="InputNameCategorie" placeholder="Entrer le titre de votre categorie" name="title">

            </div>

            <button class="buttonCategorie">Ajoutez la categorie</button>
       
        </div>
    </form>

    <form action="">
        <div class="showCategorie">

            <h1>Categorie existante</h1>
                
            <ul>
                {{#each categorie}}
                <li>
                    {{this.title}}
                </li>
                {{/each}}
            </ul>
        </div>
    </form>
</div>