<div class="contentConnect">
    <form action="/user/connectAuth" method="POST">
        <div class="connexionConnect">
            <img src="../image/compte-utilisateur-1.png" alt="">

            <h1>Connectez vous</h1>

            <div class="userConnect">
                <label for="" class="labelNameLogin">Votre Email :</label>
                <input type="text" class="InputNameLogin" name="email" placeholder="Entrer votre email">

                <label for="" class="labelNameLogin">Votre mot de passe :</label>
                <input type="password" class="InputNameLogin" name="password" placeholder="Entrer votre mot de passe">
            </div>

            <button class="buttonConnect">Se connecter</button>
       
        </div>
    </form>
</div>