/*

color:  #283534
        #526454
        #978765
        #CAAA72
        #FAF7EE

font :

*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAF7EE;
}



/* -------------------
 NAVBAR 
----------------- */

nav {
    background: #283534;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;;
    height: 10vh;
}
.navTitle {
    align-items: center;
    width: 50%;
}

.navTitle a {
    text-decoration: none;
}

.navTitle a h1 {
    color: #CAAA72;
    margin-left: 50px;
}

ul.nav {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
}

ul.nav li {
    list-style: none;
}

ul.nav li h1 {
    position: absolute;
    top: -25px;
    right: 170px;
    color: #CAAA72;
    font-size: 16px;
}

ul.nav li img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -2px;
    right: 172px;
}

ul.nav li a {
    color: #CAAA72;
    text-decoration: none;
}


/* -------
FOOTER
------- */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #283534;
    height: 10vh;
}

footer h4 {
    color: #CAAA72;
    font-size: 30px;
}

footer p {
    color: #CAAA72
}


/* -------
INDEX
--------- */

/* Hero */

.heroIndex {
    position: relative;
    height: 90vh;
    background-image: url(./image/mattias-olsson-nQz49efZEFs-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroIndex .buttonHero {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 200px;
}

.heroIndex a {
    margin: 10px 20px;
    padding: 20px 40px;
    background: #CAAA72;
    color: #283534; 
    text-decoration: none;
    border-radius: 50px;
    transition: 1s ease;
}

.heroIndex a:hover {
    margin: 10px 20px 10px 50px;
    padding: 20px 40px;
    background: #CAAA72;
    color: #283534; 
    text-decoration: none;
    border-radius: 50px;
}

/* Article */

.articlesIndex {
    padding-top: 50px;
    background-color: #CAAA72;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}

.categorieIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #978765;
    border: 1px solid #283534;
    border-radius: 30px;
}

.titleCategorie {
    background: #283534;
    margin-top: 20px;
    border-radius: 30px;
}

.titleCategorie h2 {
    padding: 30px 50px;
    color: #CAAA72;
}

.articleIndex {
    height: 400px;
    width: 600px;
    background-color: #526454;
    display: flex;
    flex-direction: row;
    margin: 20px;
    border-radius: 30px;
}

.articleIndex img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;;
}

.articleIndex .contentIndexArticle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

/* --------- 
CONNECT
------ */

.contentConnect {
    height: 80vh;
    background: #CAAA72;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentConnect .connexionConnect {
    position: relative;
    height: 500px;
    width: 400px;
    background: #526454;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
}

.connexionConnect img {
    position: absolute;
    height: 150px;
    width: 150px;
    top: -75px;
    left: 125px;
}

.connexionConnect h1 {
    margin-top: 50px;
    text-align: center;
    color: #CAAA72;
}

.connexionConnect .userConnect {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-between;
}

.connexionConnect button {
    background: #CAAA72;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    color: #283534;
    font-size: 16px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 30px;
}

.userConnect label {
    color: #CAAA72;
}

/* ------ 
REGISTER
------ */

.contentRegister {
    height: 80vh;
    background: #CAAA72;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentRegister .connexionRegister {
    position: relative;
    height: 500px;
    width: 400px;
    background: #526454;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
}

.connexionRegister ul {
    background-color: #CAAA72;
    width: 300px;
    margin: 0 auto;
}

.connexionRegister li {
    text-align: center;
    color: #526454;
    list-style: none;

}

.connexionRegister h1 {
    text-align: center;
    color: #CAAA72;
}

.connexionRegister .userRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-between;
}

.userRegister .file-input {
    background: #CAAA72;
    color: #283534;

}

.connexionRegister button {
    background: #CAAA72;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    color: #283534;
    font-size: 16px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 30px;
}

.userRegister label {
    color: #CAAA72;
}





/* ------
ADD ARTICLE
------- */


.addArticleContent {
    height: 80vh;
    background: #CAAA72;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addArticleContent .addArticle {
    position: relative;
    height: 500px;
    width: 400px;
    background: #526454;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
}

.addArticle h1 {
    text-align: center;
    color: #CAAA72;
}

.addArticle .customArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-between;
}

.customArticle .file-input {
    background: #CAAA72;
    color: #283534;

}

.addArticle button {
    background: #CAAA72;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    color: #283534;
    font-size: 16px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 30px;
}

.customArticle label {
    color: #CAAA72;
}

/* ------ 
EDIT ARTICLE
-------- */

.editArticleContent {
    height: 80vh;
    background: #CAAA72;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editArticleContent .editArticle {
    position: relative;
    height: 500px;
    width: 400px;
    background: #526454;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
}

.editArticle h1 {
    text-align: center;
    color: #CAAA72;
}

.editArticle .editCustomArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-between;
}

.editCustomArticle .file-input {
    background: #CAAA72;
    color: #283534;

}

.editArticle button {
    background: #CAAA72;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    color: #283534;
    font-size: 16px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 30px;
}

.editCustomArticle label {
    color: #CAAA72;
}


/* ------- 
ADD CATEGORIE
--------- */

.addCategorieContent {
    height: 80vh;
    background: #CAAA72;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addCategorieContent .addCategorie {
    position: relative;
    height: 300px;
    width: 400px;
    background: #526454;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
}

.addCategorie h1 {
    text-align: center;
    color: #CAAA72;
}

.addCategorie .customCategorie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

.addCategorie button {
    background: #CAAA72;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    color: #283534;
    font-size: 16px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 30px;
}

.customArticle label {
    color: #CAAA72;
}

.showCategorie {
    margin-top: 50px;
    height: 300px;
    width: 400px;
    background: #526454;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
}

.showCategorie h1 {
    text-align: center;
    color: #CAAA72;
}

.showCategorie li {
    list-style: none;
    color: #CAAA72;
}

